.container
  footer.text-center
    hr
    p
      = "C любовью разработал "
      a(href="https://twitter.com/iamstarkov") @iamstarkov
    p
      a(href="https://twitter.com/shuvalov_anton") @shuvalov_anton
      = " внимательно курирует авторов"
    p Опубликовано под лицензией CC 3.0
    p
      nav
        a(href="/") Список авторов
        = " • "
        a(href="/about/") О проекте
        = " • "
        a(href="/stats/") Статистика
        = " • "
        a(href="/rss.xml") RSS
        = " • "
        a(href="https://google.com/?q=site:jsunderhood.ru+что-нибудь") Поиск

    p
      nav
        a(href="https://github.com/iamstarkov/jsunderhood") Гитхаб
        = " • "
        a(href="https://twitter.com/jsunderhood") Подписаться в твиттере
