.container
  .row.footer.text-center
    .col-md-12
      hr
      p
        a(href="https://twitter.com/" + underhood.creator)= "@" + underhood.creator
        = " c любовью разработал"
        br
        a(href="https://twitter.com/" + underhood.curator)= "@" + underhood.curator
        = " бережно курирует авторов"
      include menu
      br
