.container
  .row.footer.text-center
    .col-md-12
      hr
      p
        a(href="https://twitter.com/iamstarkov") @iamstarkov
        = " c любовью разработал"
        br
        a(href="https://twitter.com/shuvalov_anton") @shuvalov_anton
        = " бережно курирует авторов"
      include menu
      br
