.jumbotron
  .container
    .row
      .col-md-12
        include menu
        .page-header
          h1
            block headerTitle
          p Коллективный твиттер-аккаунт для фронтенд-разработчиков с новым автором каждую неделю
    .row
      .col-md-12
          include share-text
