.jumbotron
  .container
    .row
      .col-md-12
        include menu
        .page-header
          h1.site-title
            block headerTitle
          p Коллективный твиттер-аккаунт для фронтенд-разработчиков с новым автором каждую неделю.
            br
            i  Уже #{numbers(people(latestInfo.followers_count))} в теме.
    .row
      .col-md-12
          include share-text
          hr
