nav.pull-left
  a(href="/") Список авторов
  = " • "
  a(href="/about/") О проекте
  = " • "
  a(href="/stats/") Статистика
  = " • "
  a(href="/rss.xml") RSS
  = " • "
  a(href="https://google.com/?q=site:jsunderhood.ru+что-нибудь") Поиск

nav.pull-right
  a(href="https://github.com/iamstarkov/jsunderhood") Гитхаб
  = " • "
  a(href="https://twitter.com/jsunderhood") Подписаться в твиттере
