nav
  a.btn.btn-success.btn-menu(href="https://twitter.com/jsunderhood")
    b Подписаться
  a(href="/stats/") Статистика
  = " • "
  a(href="/about/") О проекте
  = " • "
  a(href="/authoring/") Стать автором
  = " • "
  a(href="/rss.xml") RSS
  = " • "
  a(href="https://github.com/iamstarkov/jsunderhood") GitHub
  = " • "
  a(href="https://google.com/?q=site:jsunderhood.ru+что-нибудь") Поиск
  = " • "
  a(href="https://github.com/iamstarkov/awesome-collective-twitters") Похожие проекты
