p
  a(href="/about/") About
  = " • "
  a(href="/rss.xml") Subscribe to RSS
  = " or "
  a(href="https://google.com/?q=site:jsunderhood.com+smth") search "smth"
  = " • "
  a(href="https://twitter.com/jsunderhood") Follow on Twitter
